@model Monitoring
@{
    ViewData["Title"] = "Мониторинг";
}

<h1>Мониторинг</h1>

<div>
    <h2>Введите путь к папке с файлами:</h2>
    <form method="post">
        <div class="form-group">
            <label for="directoryPath">Путь к папке:</label>
            <input type="text" class="form-control" id="directoryPath" name="directoryPath" placeholder="Введите путь к папке" required>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>