@model Monitoring
@{
    ViewData["Title"] = "Мониторинг";
}

<h1>Мониторинг</h1>

<form method="post" asp-controller="Monitoring" asp-action="Check">
    <div class="form-group">
        <label for="directoryPath">Путь к директории:</label>
        <input type="text" class="form-control" id="directoryPath" name="directoryPath" placeholder="Введите путь к директории" required>
    </div>
    <input type="submit" value="Начать мониторинг"/>
</form>